@model phamarchy_systeam.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category_name)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Sale_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Sale_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Purchase_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Purchase_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_packing_siza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_packing_siza)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Product_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Exp_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Exp_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Batch_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Batch_no)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
